<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="TapIn - Presence with precision. The easy way to track and manage attendance.">
    <meta name="author" content="Quantum Coders">
    <meta name="keywords" content="TapIn, attendance, track, check, school, attend">
    <meta name="robots" content="index, follow">

    <meta property="og:title" content="TapIn">
    <meta property="og:description" content="TapIn, easy way of tracking attendance">
    <meta property="og:url" content="https://tapIn.com">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="icon" href="{{ url_for('static', filename='\1') }}" type="image/png">
    <title>TapIn</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='\1') }}">
</head>

<body>
    <header>
        <div>
            <img src="{{ url_for('static', filename='\1') }}" alt="TapIn Logo" class="logo" height="70" width="70">
        </div>
        <div id="webname">
            <h1>TapIn</h1>
        </div>
    </header>

    <main>
        <div class="webtext">
            <p>
                Welcome! Ready to simplify your attendance process? With TapIn, you can track attendance effortlessly
                and keep everything organized.
                Say goodbye to manual roll calls and hello to efficiency. We're excited to help you save time and stay
                on top of things.
            </p>
        </div>
        <div class="button" id="get_started">
           <a href="{{ url_for('account') }}"><span></span>Get Started</a>
        </div>
    </main>
</body>

</html>
